<nav
  style="z-index: 6"
  class="navbar py-2 navbar-expand-lg bg-white shadow position-fixed w-100 top-0 start-0"
>
  <div class="container">
    <a class="navbar-brand fw-bold px-2 fst-italic border bg-success" href="#"
      ><img
        src="../../assets/images/student.png"
        style="max-width: 50px"
        alt="Logo"
    /></a>
    <button
      class="navbar-toggler no-print"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @if (isLoginedBefore) {
        <!-- Discussion -->
        <li class="nav-item">
          <a
            class="discussion nav-link ps-2 mx-lg-2 position-relative"
            href="#"
            routerLink="discussion"
            routerLinkActive="text-bg-success rounded-1"
          >
            Discussion
          </a>
        </li>
        } @if (isLoginedBefore && !isStudentLogin) {
        <!-- Create Exam -->
        <li class="nav-item">
          <a
            class="nav-link ps-2 me-0 me-lg-2"
            aria-current="page"
            href="#"
            routerLink="creation"
            routerLinkActive="text-bg-success rounded-1"
            >Create Exam</a
          >
        </li>
        } @if (isLoginedBefore) {
        <!-- Exams -->
        <li class="nav-item">
          <a
            class="nav-link ps-2"
            href="#"
            routerLink="exams"
            routerLinkActive="text-bg-success rounded-1"
            >Exams</a
          >
        </li>
        <!-- FAQ's -->
        <li class="nav-item">
          <a
            class="nav-link ps-2 mx-lg-2"
            href="#"
            routerLink="faq"
            routerLinkActive="text-bg-success rounded-1"
            >FAQ's</a
          >
        </li>
        <!-- Contact -->
        <li class="nav-item">
          <a
            class="nav-link ps-2"
            href="#"
            routerLink="contact"
            routerLinkActive="text-bg-success rounded-1"
            >Contact</a
          >
        </li>
        }
      </ul>
      <!-- Account & Notifications -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        @if (!isLoginedBefore) {
        <!-- Home -->
        <li class="nav-item me-lg-2">
          <a
            class="nav-link ps-2"
            href="#"
            routerLink="home"
            routerLinkActive="text-bg-success rounded-1"
            >Home</a
          >
        </li>
        <!-- Courses -->
        <li class="nav-item">
          <a
            class="nav-link ps-2"
            href="#"
            routerLink="courses"
            routerLinkActive="text-bg-success rounded-1"
            >Courses</a
          >
        </li>
        <!-- Login -->
        <li class="nav-item mt-2 mt-lg-0 mx-lg-2">
          <a
            class="nav-link ps-2"
            href="#"
            routerLink="login"
            routerLinkActive="text-bg-success rounded-1"
            >Login</a
          >
        </li>
        <!-- Register -->
        <li class="nav-item mt-2 mt-lg-0">
          <a
            class="nav-link ps-2"
            href="#"
            routerLink="register"
            routerLinkActive="text-bg-success rounded-1"
            >Register</a
          >
        </li>
        } @else {
        <!-- Notifications -->
        <li class="nav-item">
          <a
            class="notific w-fit nav-link mt-lg-1 ps-sm-2 ps-lg-3 fs-5 px-3 me-lg-2 position-relative"
            href="#"
            routerLink="notifications"
            routerLinkActive="text-bg-success rounded-3"
            ><i class="fa-solid fa-bell">
              <span [innerHTML]="notificNumber"></span></i
          ></a>
        </li>
        <!-- Account -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle ps-2"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              [src]="
                profileImageUrl
                  ? profileImageUrl
                  : '../../assets/images/account.png'
              "
              alt="Account Placeholder"
              style="max-width: 35px"
              class="me-1 rounded-circle"
            />
            Account
          </a>
          <ul class="dropdown-menu">
            <li>
              <span
                class="dropdown-item"
                style="cursor: pointer"
                (click)="navigateToProfile()"
              >
                <i class="fa-solid fa-user me-2"></i>
                Update Profile
              </span>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <button
                class="dropdown-item py-2 bg-danger text-white"
                (click)="logOut()"
              >
                <i class="fa-solid fa-door-open me-2"></i> Log out
              </button>
            </li>
          </ul>
        </li>
        }
      </ul>
    </div>
  </div>
</nav>
