<!-- Header Section -->
<header class="mb-5" style="margin-top: 80px">
  <article
    class="container mx-auto mx-lg-0 row align-items-center justify-content-between"
  >
    <div class="content text-center text-lg-start col-12 col-lg-6 p-5">
      <h1>Build skills with Online course</h1>
      <p>
        We denounce with righteous indignation and dislike men who are so
        beguiled and demoralized that cannot trouble.
      </p>
      <a href="courses" class="btn btn-warning w-fit fw-medium px-4 py-2 mt-4"
        >Explore Courses</a
      >
    </div>
    <figure class="col-12 col-lg-6 mb-0 text-center text-lg-end">
      <img
        src="../../assets/images/Home-Page/student-img.png"
        alt="Student"
        class="w-100"
      />
    </figure>
  </article>
</header>
<main class="mb-4">
  <!-- Top Categories Section -->
  <section class="top-categories container mb-5">
    <h2 class="p-4 rounded-3 border fw-medium">Top Categories</h2>
    <div class="row">
      <!-- category -->
      @for (category of topCategories; track $index) {
      <article class="col-12 col-md-6 col-lg-3 p-4">
        <div class="content row justify-content-between align-items-center p-4">
          <figure class="mb-0 col-3">
            <img
              src="../../assets/images/Top-Categories/cate-{{
                category.imgNum
              }}.png"
              alt="Development Icon"
              class="w-100"
              style="max-width: 50px"
            />
          </figure>
          <div class="col-9">
            <h5 class="fw-bold mb-1">{{ category.categoryName }}</h5>
            <span>{{ category.explain }}</span>
          </div>
        </div>
      </article>
      }
    </div>
  </section>
  <!-- Courses section -->
  <section class="courses container mb-5">
    <h2 class="p-4 rounded-3 border fw-medium">
      Featured Courses
      <span class="fs-6 mt-3 ps-1 fw-normal d-block"
        >Explore our Popular Courses</span
      >
    </h2>
    <div class="row">
      @for (course of courses; track course.id) {
      <article class="col-12 col-md-6 col-lg-4 p-3 mt-3">
        <div class="bg-white rounded-3 rounded-3 shadow">
          <figure class="mb-0">
            <img
              src="../../assets/images/Courses/course-{{ course.id }}.png"
              [alt]="course.courseName"
              class="w-100 rounded-3 rounded-bottom-0"
            />
          </figure>
          <div class="content p-4">
            <p
              class="mb-2 text-black-50 d-flex justify-content-between align-items-center"
            >
              <span class="course-category"> {{ course.category }}</span>
              <span class="ms-auto">
                <i class="fa-solid fa-users"></i>
                {{ course.enrollmentCount }}
              </span>
            </p>
            <h3>{{ course.courseName }}</h3>
            <!-- Rate -->
            <p class="d-flex align-items-center">
              <span class="fs-5 fw-medium me-2">{{ course.rate }} </span>
              <span>
                @for (item of getFullStart(course); track $index) {
                <i class="fa-solid fa-star text-warning"></i>
                } @if (course.rate % 1 !== 0) {
                <i class="fa-solid fa-star-half-stroke text-warning"></i>
                } @for (star of getEmptyStars(course); track $index) {
                <i class="fa-regular fa-star"></i>
                }
              </span>
              <span class="ms-2">({{ course.ratingCount }})</span>
            </p>
            <p [class.free-course]="!course.price" class="fs-5 mt-3 fw-bold">
              {{ course.price ? (course.price | currency) : "Free" }}
            </p>
            <button
              (click)="navigateToCourse(course.id)"
              class="showCourse btn px-4 py-2 mx-auto d-block"
            >
              Show Course
            </button>
          </div>
        </div>
      </article>
      }
    </div>
    <a
      href="courses"
      style="width: fit-content"
      class="btn btn-primary px-4 py-2 d-block mx-auto mt-4"
      >View All Courses</a
    >
  </section>
  <!-- Counter Section -->
  <section class="counter mb-5">
    <div class="container py-5">
      <ul class="row list-unstyled">
        <!-- Count -->
        <li class="col-12 col-md-6 col-lg-3 text-center mb-4 mb-lg-0">
          <span class="d-block">25K+</span>
          <span class="fs-5 fw-semibold">Active Students</span>
        </li>
        <!-- Count -->
        <li class="col-12 col-md-6 col-lg-3 text-center mb-4 mb-lg-0">
          <span class="d-block">899</span>
          <span class="fs-5 fw-semibold">Total Courses</span>
        </li>
        <!-- Count -->
        <li class="col-12 col-md-6 col-lg-3 text-center mb-4 mb-md-0">
          <span class="d-block">158</span>
          <span class="fs-5 fw-semibold">Instructor</span>
        </li>
        <!-- Count -->
        <li class="col-12 col-md-6 col-lg-3 text-center">
          <span class="d-block">100%</span>
          <span class="fs-5 fw-semibold">Satisfaction rate</span>
        </li>
      </ul>
    </div>
  </section>
  <!-- Grow us Section -->
  <section class="grow-us container mb-5">
    <article class="row align-items-center">
      <figure class="mb-md-0 col-12 col-md-6 p-3">
        <img
          src="../../assets/images/Home-Page/frame-img1.png"
          alt="Frame image"
          class="w-100"
        />
      </figure>
      <div class="content col-12 col-md-6 p-3">
        <h3 style="font-size: 45px" class="fw-medium mb-3">
          Grow us your skill with Academy LMS
        </h3>
        <p>
          We denounce with righteous indignation and dislike men who are so
          beguiled and demoralized that cannot trouble.
        </p>
        <ul class="list-unstyled">
          <li class="fw-medium">
            <i class="fa-solid fa-check me-2"></i>
            Certification
          </li>
          <li class="mt-2 fw-medium">
            <i class="fa-solid fa-check me-2"></i>
            Free Courses
          </li>
          <li class="mt-2 fw-medium">
            <i class="fa-solid fa-check me-2"></i>
            Premium Class
          </li>
          <li class="mt-2 fw-medium">
            <i class="fa-solid fa-check me-2"></i>
            Emails Notification
          </li>
        </ul>
        <a href="courses" class="btn btn-primary px-4 py-2 mt-3 fw-medium"
          >Enroll Courses</a
        >
      </div>
    </article>
  </section>
  <!-- Student Feedbacks Section -->
  <section class="feedback container mb-5">
    <h2 class="p-4 rounded-3 border fw-medium mb-4">
      Student Feedbacks
      <span class="fs-6 mt-3 ps-1 fw-normal d-block"
        >What Students Say about Academy LMS</span
      >
    </h2>
    <div class="row">
      <!-- Feedback -->
      <article class="col-12 col-md-6 col-lg-3 p-3 mb-3">
        <div
          class="rounded-3 p-4 text-center shadow"
          style="background-color: #f4f6f9"
        >
          <i
            class="fa-solid fa-quote-left mb-2 text-success"
            style="font-size: 60px"
          ></i>
          <p>
            I must explain to you how all this mistaken 😍. Tdea of denouncing
            pleasure and praising pain was born and I will give you a complete
            account of the system and expound the 👍
          </p>
          <h5>Roe Smith</h5>
          <span>Designer</span>
        </div>
      </article>
      <!-- Feedback -->
      <article class="col-12 col-md-6 col-lg-3 p-3 mb-3">
        <div
          class="rounded-3 p-4 text-center shadow"
          style="background-color: #f4f6f9"
        >
          <i
            class="fa-solid fa-quote-left mb-2 text-success"
            style="font-size: 60px"
          ></i>
          <p>
            Explain to you how all this mistaken. Tdea of denouncing pleasure
            and praising pain was born and I will give you a complete account
            Lorem ipsum dolor sit amet.
          </p>
          <h5>Robert Linda</h5>
          <span>Marketer</span>
        </div>
      </article>
      <!-- Feedback -->
      <article class="col-12 col-md-6 col-lg-3 p-3 mb-3">
        <div
          class="rounded-3 p-4 text-center shadow"
          style="background-color: #f4f6f9"
        >
          <i
            class="fa-solid fa-quote-left mb-2 text-success"
            style="font-size: 60px"
          ></i>
          <p>
            Which toil and pain can procure him some great pleasure. To take a
            trivial example, which of us ever undertakes laborious physical
            exercise, except to obtain advantage 😘
          </p>
          <h5>Nirolas Corola</h5>
          <span>Developer</span>
        </div>
      </article>
      <!-- Feedback -->
      <article class="col-12 col-md-6 col-lg-3 p-3 mb-3">
        <div
          class="rounded-3 p-4 text-center shadow"
          style="background-color: #f4f6f9"
        >
          <i
            class="fa-solid fa-quote-left mb-2 text-success"
            style="font-size: 60px"
          ></i>
          <p>
            I must explain to you how all this mistaken. Tdea of denouncing
            pleasure and praising pain was born and I will give you a 😍complete
            account of the system and expound the
          </p>
          <h5>David Rironas</h5>
          <span>Photographer</span>
        </div>
      </article>
    </div>
  </section>
  <!-- Latest Articles Section -->
  <section class="articles container">
    <h2 class="p-4 rounded-3 border fw-medium mb-5">
      Latest Articles
      <span class="fs-6 mt-3 ps-1 fw-normal d-block"
        >Explore our free articles</span
      >
    </h2>
    <div class="row">
      @for (article of articles; track $index) {
      <article class="col-12 col-md-6 col-lg-4 p-3">
        <figure class="mb-0">
          <img
            src="../../assets/images/blogs/blog-img{{ article.imgNum }}.png"
            [alt]="article.title"
            class="w-100"
          />
        </figure>
        <div class="content p-4 border">
          <h4>{{ article.title }}</h4>
          <p>
            {{ article.description | slice : 0 : 100 }}...
            <button class="btn p-0 text-decoration-underline">See More</button>
          </p>
          <p class="fw-medium text-primary">
            <i class="fa-regular fa-clock"></i>
            {{ article.updated | date : "fullDate" }}
          </p>
        </div>
      </article>
      }
    </div>
  </section>
</main>
